force-app/main/default/flows/FilterBySkills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Filter_By_Common_Sublists</name>
        <label>Filter By Common Sublists</label>
        <locationX>396</locationX>
        <locationY>242</locationY>
        <actionName>MultiPicklistFieldCompareInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Common</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>picklistA</name>
            <value>
                <elementReference>FilterByRoles.Skills__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>picklistB</name>
            <value>
                <elementReference>CurrentMovie.Script__r.Roles_List__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiPicklistFieldCompareInvocable</nameSegment>
        <outputParameters>
            <assignToReference>CommonSet</assignToReference>
            <name>commonValues</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Actor</name>
        <label>Add Actor</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AppropriateActorsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FilterByRoles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilterByRoles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Common</name>
        <label>Are Common?</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>FilterByRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommonSet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Actor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FilterBySkills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FilterBySkills</label>
    <loops>
        <name>FilterByRoles</name>
        <label>FilterByRoles</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>AvailableActors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_By_Common_Sublists</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FilterByRoles</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AppropriateActorsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AvailableActors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CommonSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentMovie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
</Flow>
