force-app/main/default/flows/Handle_Adding_Casts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>NewCurrentCast</name>
        <label>NewCurrentCast</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CurrentCast.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratingOverSelectedActors.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCast.Price_Per_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IteratingOverSelectedActors.Price_Per_Hour_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCast.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMovie.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCast.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Character_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_New_Casts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_New_Casts</name>
        <label>To New Casts</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewCasts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCast</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CastsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IteratingOverSelectedActors</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Handle Adding Casts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Adding Casts</label>
    <loops>
        <name>IteratingOverSelectedActors</name>
        <label>IteratingOverSelectedActors</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>SelectedActors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CurrentActor</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CurrentActor</name>
        <label>Current Actor Character</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewCurrentCast</targetReference>
        </connector>
        <fields>
            <name>ActorName</name>
            <fieldText>&lt;p&gt;{!IteratingOverSelectedActors.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Character_Name</name>
            <dataType>String</dataType>
            <fieldText>Character Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IteratingOverSelectedActors</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CastsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentCast</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>CurrentMovie</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
    <variables>
        <name>NewCasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>SelectedActors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
