force-app/main/default/flows/Movie_Cast_Preparation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>AreAppropriateActors</name>
        <label>Are appropriate actors?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>NoAvailableActorsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableActorsCollection</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActorSelectionScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCount</name>
        <label>Compare Casts Count and Number of Actors</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ChooseDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need More</defaultConnectorLabel>
        <rules>
            <name>Enough</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CastsCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetCurrentMovie.Script__r.Number_of_Actors__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoMore</targetReference>
            </connector>
            <label>Enough</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RawTextVarOfSelectedActors</name>
        <collectionReference>AvailableActorsCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FirstId</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SelectedActorIds}, FIND(&quot;;&quot;,{!SelectedActorIds})-1))</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstID</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedActorIds},{!FirstId}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Movie Cast Preparation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movie Cast Preparation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCasts</name>
        <label>Create Cast Records</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>NewCastList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAvailableActors</name>
        <label>Get Available Actors This Date</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Actors_By_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available_From__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>AvailableFrom</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentMovie</name>
        <label>Get Current Movie</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Casts_To_Collection_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ActorSelectionScreen</name>
        <label>Actor Selection Screen</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Actors_Collection</targetReference>
        </connector>
        <fields>
            <name>SelectedActorsScreen</name>
            <choiceReferences>RawTextVarOfSelectedActors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Actor:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ChooseDate</name>
        <label>Choose Date</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAvailableActors</targetReference>
        </connector>
        <fields>
            <name>AvailableFrom</name>
            <dataType>Date</dataType>
            <fieldText>Available from</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoAvailableActorsScreen</name>
        <label>No Available Actors Screen</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoActors</name>
            <fieldText>&lt;p&gt;Unfortunately, no suitable actor is available&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoMore</name>
        <label>No more actors needed</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChooseDate</targetReference>
        </connector>
        <fields>
            <name>BackupSuggection</name>
            <fieldText>&lt;p&gt;No more actors needed. Press Next button to add additional backup actors&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessCreate</name>
            <fieldText>&lt;p&gt;Casts added succesfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentMovie</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Filter_Actors_By_Skills</name>
        <label>Filter Actors By Skills</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>AreAppropriateActors</targetReference>
        </connector>
        <flowName>FilterBySkills</flowName>
        <inputAssignments>
            <name>AvailableActors</name>
            <value>
                <elementReference>GetAvailableActors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentMovie</name>
            <value>
                <elementReference>GetCurrentMovie</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AvailableActorsCollection</assignToReference>
            <name>AppropriateActorsCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Casts_To_Collection_Flow</name>
        <label>Get Casts To Collection Flow</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>CheckCount</targetReference>
        </connector>
        <flowName>Get_Casts_To_Collection</flowName>
        <inputAssignments>
            <name>CurrentMovie</name>
            <value>
                <elementReference>GetCurrentMovie</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CastsCount</assignToReference>
            <name>CastsCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CastsList</assignToReference>
            <name>CastsList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Selected_Actors_Collection</name>
        <label>Get Selected Actors Collection</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Handle_Adding_Casts</targetReference>
        </connector>
        <flowName>Split_Ids_To_Collection</flowName>
        <inputAssignments>
            <name>SelectedActorsScreen</name>
            <value>
                <elementReference>SelectedActorsScreen</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SelectedActors</assignToReference>
            <name>SelectedActors</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Adding_Casts</name>
        <label>Handle Adding Casts</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>CreateCasts</targetReference>
        </connector>
        <flowName>Handle_Adding_Casts</flowName>
        <inputAssignments>
            <name>CurrentMovie</name>
            <value>
                <elementReference>GetCurrentMovie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedActors</name>
            <value>
                <elementReference>SelectedActors</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewCastList</assignToReference>
            <name>NewCasts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AvailableActorsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CastsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CastsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>NewCastList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedActorIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedActors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
