force-app/main/default/flows/Split_Ids_To_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ActorsCollection</name>
        <label>ActorsCollection</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SelectedActors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contacts</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignSelectedValues</name>
        <label>AssignSelectedValues</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>SelectedActorsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedActorsScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedActorsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Actor_Ids_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Actor_Ids_Collection</name>
        <label>Create ActorIds Collection</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SelectedActorsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedActorsIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirstID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AreThereOtherValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AreThereOtherValues</name>
        <label>Are There Other Values?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Actor_Ids_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedActorsIds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Contacts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstId</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SelectedActorsIds}, FIND(&quot;;&quot;,{!SelectedActorsIds})-1))</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstID</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedActorsIds},{!FirstId}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Split Ids To Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Split Ids To Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selected_Contacts</name>
        <label>Get Selected Contacts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActorsCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedActorsCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignSelectedValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedActors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedActorsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedActorsIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedActorsScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
